:root {
    --v-image-margin: 20px;
}

p, div, audio, img, video {
    color: black !important;
    width: 100% !important;
}

body {
    position: fixed;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: 100% !important;
    width: 100% !important;
    background: white !important;
}

img.image_index_1 {
    position: fixed;
    visibility: visible;
    top: var(--v-image-margin) !important;
    bottom: var(--v-image-margin) !important;
    left: var(--v-image-margin) !important;
    right: var(--v-image-margin) !important;
    width: calc(100% - 2 * var(--v-image-margin)) !important;
    height: calc(100% - 2 * var(--v-image-margin)) !important;
    border: 1px solid black;
    border-radius: 25px;
    overflow: hidden;
    object-fit: cover !important;
}

img.image_index_2 {
    position: fixed;
    visibility: visible;
    bottom: calc(2 * var(--v-image-margin)) !important;
    left: calc(2 * var(--v-image-margin)) !important;
    width: 20% !important;
    height: 20% !important;
    object-fit: cover !important;
    z-index: 2;
    border: 1px solid black;
}

img.image_index_3 {
    position: fixed;
    visibility: visible;
    bottom: calc(2 * var(--v-image-margin)) !important;
    left: calc(20% + 3 * var(--v-image-margin)) !important;
    width: 20% !important;
    height: 20% !important;
    object-fit: cover !important;
    z-index: 2;
    border: 1px solid black;
}

body div {
    visibility: hidden;
}

body div[data-story-title]::after {
    content: attr(data-story-title);
    display: block !important;
    visibility: visible !important;
    position: fixed;
    z-index: 20;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 10vh;
    text-shadow: 2px 2px #000000;
    color: white !important;
}

body div[data-story-date]::after {
    content: attr(data-story-date);
    display: block !important;
    visibility: visible !important;
    position: fixed;
    z-index: 20;
    float: left;
    top: calc(100% - 1 * var(--v-image-margin));
    right: 0%;
    transform: translate(-50%, -120%);
    text-align: center;
    font-size: 3vh;
    text-shadow: 1px 1px #000000;
    color: white !important;
}
